server {
    listen       80;
    server_name  60s.bet www.60s.bet;

    location / {
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host            $http_host;
        proxy_pass https://malaysia-backend-ipit43q4oq-as.a.run.app/admin/;
    }
}
