# default configuration, if server name dosen't match then redirect to official site.
#server {
#    listen      80  default_server;
#    server_name __;
#    rewrite ^(.*) https://www.60s.ooo/ permanent;
#}
